#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
	height:900px;
	margin-bottom:10px
	width:100%;
}

.command {
    padding: 4px 6px;
    background: white;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    min-width: 200px;
}