/* For all devices: */
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

.leaflet-marker-icon {
    width: auto !important;
    height: auto !important;
}

/* ecriture dans le cluster*/
.cluster {
    padding: 5px 10px;
    color: white;
}

.layer0 {
    background: red;
}

.layer1 {
    background: blue;
}

.layer2 {
    background: green;
}
