#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
	height:900px;
	margin-bottom:10px;
	width:100%;
}

.leaflet-marker-icon {
    width: auto !important;
    height: auto !important;
}

/* ecriture dans le cluster*/
.cluster { 
    padding: 5px 10px;
    color: white;
}

.layer0 {
    background: red;
}

.layer1 {
    background: blue;
}

.layer2 {
    background: green;
}
